.home-wrap {}

.banner img {
    display: block;
    width: 100%;
    max-height: 100%;
}

.notice {
    height: 30px;
    line-height: 30px;
    background-color: #ffc;
}

.notice em {
    color: #f96;
}

.notice i {
    padding-left: 10px;
    display: inline-block;
    position: relative;
    z-index: 11;
    font-family: "iconfont";
    color: #f99;
    background-color: inherit;
    width: 25px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    float: left;
}

.menu-wrap {
    overflow: hidden;
}

.menu-item {
    float: left;
    width: 47%;
    height: 90px;
    margin-left: 2%;
    margin-top: 2%;
    color: #fff;
}

.menu-item i,
.item-in {
    float: left;
}

.menu-item i {
    width: 30%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
}

.item-in {
    margin-top: 25px;
}

.item-max {
    height: 189px;
    float: right;
    margin-right: 2%;
    text-align: center;
}

.item-max .icon,
.item-max .item-in {
    width: 100%;
}

.item-max .item-in {
    margin: 0;
}

.item-in h2 {
    font-size: 18px;
}

.item-in p {
    font-size: 12px;
}

.item-max .icon {
    font-size: 70px;
}

.brand {
    width: 96%;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    color: #fff;
    overflow: hidden;
}

.brand i {
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
}

.reg-wrap {
    text-align: center;
}

.reg-submit,
.reg-wrap input {
    display: block;
    margin: 10px auto;
    width: 70%;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    padding: 5px 10px;
}

.reg-wrap input {
    border: 1px solid #F47F16;
    outline: none;
}

.reg-wrap input:focus {
    border: 1px solid #F23030;
}

.reg-submit {
    color: #fff;
    background-color: #F47F16;
}
