html{
  height: 100%;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  max-width: 414px;
  margin:0 auto;
  background-color: #f1f1f1;
}
a{
  text-decoration: none;
}
img{
  border:0;
}
li{
  list-style: none;
}
i,em{
  font-style: normal;
}

/*
public color
*/

.red{background-color: #F23030 !important}
.lightyellow{background-color: #FFC324 !important}
.yellow{background-color:#ffc !important}
.deeporange{background-color: #ff5722 !important}
.deeppurple{background-color: #673ab7 !important}
.blue{background-color: #2196f3 !important}
.lightblue{background-color: #25B3FF !important}
.green{background-color: #63CB58 !important}
.lightgreen{background-color: #0BD075 !important}
.teal{background-color: #009688 !important}
.purple{background-color:#9c27b0 !important}
.pink{background-color:#FF3797 !important}
.indigo{background-color:#3f51b5 !important}

.t-red{color: #F23030 !important}
.t-lightyellow{color: #FFC324 !important}
.t-yellow{color:#ffc !important}
.t-deeporange{color: #ff5722 !important}
.t-deeppurple{color: #673ab7 !important}
.t-blue{color: #2196f3 !important}
.t-lightblue{color: #25B3FF !important}
.t-green{color: #63CB58 !important}
.t-lightgreen{color: #0BD075 !important}
.t-teal{color: #009688 !important}
.t-purple{color:#9c27b0 !important}
.t-pink{color:#FF3797 !important}
.t-indigo{color:#3f51b5 !important}

/*
public style
*/

.fl{
  float:left;
}
.fr{
  float:right;
}
.ml20{
  margin-left: 20px;
}

template,[v-cloak] {
  display: none;
}