.app-view {
  background-color: #f1f1f1;
}

.user-wrap {
  background-color: #fff;
}

.user-item {
  border-bottom: 1px solid #f1f1f1;
}

.user-item.title {
  display: -webkit-flex;
  display: flex;
  .grow {
    line-height: 40px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    color: #333;
  }
  .tit {
    -webkit-flex-grow: 9;
    flex-grow: 9;
    text-indent: 5px;
    .icon {
      padding-right: 5px;
    }
  }
  .btn {
    text-align: center;
  }
  .icon {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
}

.user-login {
  background-color: #fff;
}

.user-item-wrap {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  .btn {
    float: left;
    width: 33%;
    padding: 10px 0;
    text-align: center;
  }
  .icon,
  .txt {
    display: inline-block;
  }
  .icon {
    width: 70px;
    line-height: 70px;
    font-size: 40px;
  }
  .txt {
    width: 100%;
    line-height: 30px;
    font-size: 13px;
    color: #666;
  }
}