html{
    height: 100%;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    max-width: 414px;
    margin:0 auto;
    background-color: #f1f1f1;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
li{
    list-style: none;
}
i,em{
    font-style: normal;
}


/*
    public color
*/
.bg-red{background-color: #F23030}
.bg-deeporange{background-color: #ff5722}
.bg-deeppurple{background-color: #673ab7}
.bg-blue{background-color: #2196f3}
.bg-green{background-color: #63CB58}
.bg-lightgreen{background-color: #0BD075}
.bg-teal{background-color: #009688}
.bg-purple{background-color:#9c27b0}
.icon-notificationfill{background-color:#9c27b0}

/*
    public style
*/

.fl{
  float:left;
}
.fr{
  float:right;
}
.ml20{
  margin-left: 20px;
}

/*
    transition style
*/


/*
    title style
*/
.g-tit{
    height:44px;
    position: relative;
}
.g-tit .l,
.g-tit .c,
.g-tit .r{
    top:0;
    position: absolute;
}
.g-tit .l{
    left:0;
    z-index: 5;
}
.g-tit .c{
    width: 100%;
    height: 100%;
    left:0;
    z-index: 0;
    text-align: center;
}
.g-tit .r{
    right:0;
    z-index: 5;
}
.g-tit .c em{
    display: block;
    height: 44px;
    line-height: 44px;
    color: #fff;
}
.g-tit .iconfont{
    display: inline-block;
    color: #fff;
    font-size: 17.5px;
    position: relative;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    border: 0;
    padding: 13.5px;
    text-align: center;
    line-height: 1;
}

/*
    scroll style
*/
